# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\shaib\CompSci\Networks\lab\networks_lab\.idea/dataSources/
/dataSources.local.xml
